// color library
$grey-50: #FAFAFA;
$grey-100: #F5F5F5;
$grey-200: #EEEEEE;
$grey-300: #E0E0E0;
$grey-400: #BDBDBD;
$grey-500: #9E9E9E;
$grey-600: #757575;
$grey-700: #616161;
$grey-800: #424242;
$grey-900: #212121;

$dark-navy: #1A203F;
$indigo: #344cbd;
$red: #D52E2B;
$red-dark: #922e2d;
$yellow: #eaea4b;
$yellow-transparent: rgba(234, 234, 75, 0.6);


$reactor-card-accent-color-1: $indigo;
$reactor-card-accent-color-2: $yellow-transparent;

// theme colors
$font-color-medium-contrast: $grey-300;

// components


$sidebar-active-item-color: $indigo;

$panel-background-color: $dark-navy; 
$panel-background-opacity: .9;


$toggle-switch-color: $red;
$slider-color: $red;