// color library
$grey-50: #FAFAFA;
$grey-100: #F5F5F5;
$grey-200: #EEEEEE;
$grey-300: #E0E0E0;
$grey-400: #BDBDBD;
$grey-500: #9E9E9E;
$grey-600: #757575;
$grey-700: #616161;
$grey-800: #424242;
$grey-900: #212121;

$navy-dark: #1A203F;
$navy-dark-transparent: rgba($navy-dark, .95);
$green-vue: #42b983;
$indigo: #344cbd;
$indigo-transparent: rgba($indigo, .8);

// $red: #D52E2B;
$red: $green-vue;
$red-transparent: rgba($red, .6);
$red-dark: darken($red, 10%);
$steel-blue: #414a77;
$steel-blue-transparent: rgba($steel-blue, .2);
$yellow: #eaea4b;
$yellow-transparent: rgba(234, 234, 75, .6);



// theme colors
$font-color-medium-contrast: $grey-300;

// components
$reactor-card-accent-color-1: $indigo-transparent;
$reactor-card-accent-color-2: $red-transparent;

$sidebar-active-item-color: $indigo;

$panel-background-color: $navy-dark-transparent; 

$input-handle-width: 20px;
$toggle-switch-color: $red;
$slider-color: $red;

// shared
$left-boundary-padding: 15;